## How do I remove a Column

In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [6]:
display(ufo.columns)
display(ufo.shape)

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

(18241, 5)

In [7]:
ufo.drop('Colors Reported', axis = 1, inplace=True)

In [8]:
ufo.drop(['City','State'], axis = 1, inplace=True)

In [10]:
ufo.head()

  Shape Reported             Time
0       TRIANGLE   6/1/1930 22:00
1          OTHER  6/30/1930 20:00
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00

#### Dropping a Row

In [11]:
ufo.drop([0,1], axis=0, inplace=True)

In [12]:
display(ufo.head())
display(ufo.shape)

  Shape Reported             Time
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00
5           DISK  9/15/1934 15:30
6         CIRCLE   6/15/1935 0:00

(18239, 2)